*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wild{
    height:10vh;
    display: flex;
    justify-content:space-around;
    align-items: center;
    color: white;
    width:80%;
    margin:auto;

}
body{
    height:100vh;
    font-family: "Poppins",sans-serif;
    background-color: rgb(215, 129, 71);
}
/* .toggle{
    position:relative;
    height:70px;
    width: 70px;
    background-color: #fff;
    transform: rotate(-45deg);
    border-bottom-left-radius: 100px ;
    box-shadow: 0 0 8px rgba(0, 0, 0,0.15);
}
.toggle::before,
.toogle::after{
    content: '';
    position: absolute;
    height:100%;
    width: 100%;
    border-radius:50px;
    background-color: #fff;
    
}
.toggle::before{
    top: -50%;
    left:0;
    
}
.toggle::after{
    right: -50%;
    top:0;
} 

.circle{
    position:absolute;
    height: 55px;
    width: 55px;
    background-color: #fff;
} */

a,
button{
    font-family:"Poppins",sans-serif;
}
.dropdown{
    height:10vh;
    display: flex;
    justify-content:space-around;
    align-items: center;
    width:80%;
    margin:auto;
}
 
.projects ul{
    position: absolute;
    background:white;
    margin-top: 10px;
    width:200px;
    height: 200px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    list-style:none;
    opacity: 0;
    pointer-events: none;
    transform: translateY(10px);
    transition: all 0.4s ease;

}
.projects a{
    color: black;
    text-decoration: none;
}
.projects li{
    
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.projects li:hover{
    background-color:rgb(218, 179, 191); 
}
 
.dropdown button , 
.home {
    background: transparent;
    border: none;
    color: white;
    text-decoration: none;
    font-size:18px;
    cursor: pointer; 
}

.dropdown button:hover,
.home:hover{
    color: lightcyan;
}

.projects button:focus + ul {

    opacity: 1;
    transform: translateY(0px);
    pointer-events:all; 
}
